<div class="wrapper">
  <header>
    <form action="#">
      <div class="form">
        <label for="add">Добавить элементы</label>
        <input name="add" type="number" [(ngModel)]="quantityElementsForAdd">
        <button type="button" (click)="addNewElements()">Добавить</button>
      </div>
    </form>
  </header>
  <main>
    <form [formGroup]="form" autoSaveInLS [form]="form" [key]="'pipe'">
      <div class="form__input" movingBetweenInput>
          <ul formArrayName="pipe">
            <li *ngFor="let pipe of formArray.controls; let i = index">
              <div [formGroupName]="i">
                <label for="numberPipeline">Номер трубопровода</label>
                <input type="number" name="numberPipeline" formControlName="numberPipeline">
                <label for="numberDistrict">Номер участка</label>
                <input type="number" name="numberDistrict" formControlName="numberDistrict">
                <label for="nominalDiametr">Номинальный диаметр</label>
                <input type="number" name="nominalDiametr" formControlName="nominalDiametr">
                <label for="diametr">Диаметр</label>
                <input type="number" name="diametr" formControlName="diametr">
                <label for="length">Длина</label>
                <input type="number" name="length" formControlName="length">
                <label for="thickness">Толщина</label>
                <input type="number" name="thickness" formControlName="thickness">
                <button class="btn-delete" (click)="deleteElement(i)"></button>
                <button class="btn-add" (click)="addNewElement(i)"></button>
              </div>
          </ul>
      </div>
    </form>
  </main>
</div>

