<div class="conteiner">
  <nav class="nav">
    <ul>
      <li>
        <a [routerLink]="['']" routerLinkActive="router-link-active">Общие данные</a>
      </li>
      <li>
        <a [routerLink]="['/section']" routerLinkActive="router-link-active">Границы</a>
      </li>
      <li>
        <a [routerLink]="['/pipe']" routerLinkActive="router-link-active">Труба</a>
      </li>
      <li>
        <a [routerLink]="['/offset']" routerLinkActive="router-link-active">Отвод</a>
      </li>
      <li>
        <a [routerLink]="['/reducer']" routerLinkActive="router-link-active">Переход</a>
      </li>
      <li>
        <a [routerLink]="['/tee']" routerLinkActive="router-link-active">Тройник</a>
      </li>
      <li>
        <a [routerLink]="['/plug']" routerLinkActive="router-link-active">Заглушка</a>
      </li>
      <li>
        <a [routerLink]="['/fitting']" routerLinkActive="router-link-active">Арматура</a>
      </li>
      <li>
        <a [routerLink]="['/equipment']" routerLinkActive="router-link-active">Оборудование</a>
      </li>
      <li>
        <a [routerLink]="['/report']" routerLinkActive="router-link-active">Расчет</a>
      </li>
    </ul>
  </nav>
  <main>
    <h2>{{ title }}</h2>
    <router-outlet></router-outlet>
  </main>
</div>


